{% extends 'index.html' %}

{% block content %}
    <div class=" bg-secondary rounded align-items-center justify-content-center mx-0">
        <a href="{% url 'comedit' %}" ><button type="button" class="btn btn-lg btn-lg-square  btn-outline-primary m-2" style="float: right"><i class="fa fa-plus"></i></button></a>
            <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded h-100 p-0">
                <h6 class="mb-4">Computer Details</h6>
                <table class="table table-hover small">
                    <thead>
                        <tr>
                            <th scope="col">Computer Name</th>
                            <th scope="col">Operating System</th>
                            <th scope="col">HDD & SDD Varient</th>
                            <th scope="col">RAM Varient</th>
                            <th scope="col">CPU Company Name and Model</th>
                            <th scope="col">CPU Serial Number</th>
                            <th scope="col">Monitor Name</th>
                            <th scope="col">Monitor Serial Number</th>
                            <th scope="col">Processor and Clock Speed</th>
                            <th scope="col">Graphics Card Name</th>
                            <th scope="col">Graphics Card Size Varient</th>
                            <th scope="col">Keyboard Name</th>
                            <th scope="col">Mouse Name</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in com %}
                        <tr>
                            <td>{{ i.comname }}</td>
                            <td>{{ i.os }}</td>
                            <td>{{ i.hdd }}</td>
                            <td>{{ i.ram }}</td>
                            <td>{{ i.cpnm }}</td>
                            <td>{{ i.cpsn }}</td>
                            <td>{{ i.monname }}</td>
                            <td>{{ i.mnsn }}</td>
                            <td>{{ i.prcl }}</td>
                            <td>{{ i.grcname }}</td>
                            <td>{{ i.gcs }}</td>
                            <td>{{ i.kyname }}</td>
                            <td>{{ i.msname }}</td>
                            <td><a href="{% url 'deletecom' id=i.id %}" ><button type="button" class="btn btn-sm btn-outline-danger m-0" ><i class="fa fa-times"></i></button></a></td>
                        </tr>
                    </tbody>
                    {% empty %}
                        <tbody>
                        <tr>
                            <th scope="row">Data Has Empty</th>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}